@model IEnumerable<RocketLeague.Models.CarListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>

<p>
    <a href="~/Car/Create" class="custombtn">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarRarity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarRarity)
            </td>
            <td>
                <a href="~/Car/Edit/@item.CarID" class="custombtn">Edit</a> |
                <a href="~/Car/Delete/@item.CarID" class="custombtn">Delete</a>
            </td>
        </tr>
    }

</table>
