@model RocketLeague.Models.WheelsDetails

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete these wheels?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WheelsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelsID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelsColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelsColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelsRarity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelsRarity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="~/Wheels/Index" class="custombtn">Back to Wheels</a>
        </div>
    }
</div>
